/*The navbar must have the following:*/

/*box-sizing: border-box for all elements*/

/*link text, the logo, and icons are surrounded by anchor tags*/

/*links turn blue on hover*/

/*anchor tags are display: inline-block*/

/*clickable area of links immediately flow from one link to the next (padding will help achieve this)*/

/*Google Fonts used for logo and link text ("Montserrat" and "Work Sans", respectively)*/

/*the "Logo" text is 3em with .2em of padding above and below*/

/*                              no explicit height given to the navbar*/

/*                              default styling is removed as needed from the body, unordered list and anchor tag elements*/

/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/

* {
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}



nav{
    display: flex;
}


ul:first-child{
margin-left: 0;
}

ul:last-child{
    margin-right: 0;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 10px;
}









.logo a{
    display: flex;
    text-decoration: none;
    color: darkorange;
    font-size: 300%;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}


.logo img{
    display: flex;
    margin: 0 auto;
}












nav ul li a {
    color: darkorange;
    display: inline-block;
    padding: 5px;
    text-decoration: none;

}
a:hover{
    color: blue;
}
