

                            /*BODY SECTION*/

body {
    background-color: lightgreen;
    background-image: url("https://64.media.tumblr.com/162cc3dfa5cef6c882aba5453445f0fb/tumblr_mx3y1yYFad1qcm0eto1_1280.png");
    background-size: 12em 8em;
    background-repeat: repeat-x;

}
                            /* HEADERS */
.fancy-list{

    list-style-type: '\1F3C6';
}

.fancy-header {
    color: purple;
    text-align: center;
}
                            /* CONTAINERS */
#container>h2 {
    text-decoration: underline;
}

.fancy-font {
    font-family: "Lobster family", montserrat, serif;
}
                            /* TABLES */
table{
    border-collapse: separate;
    width: 100%;
}

thead tr{
    background-color: lightblue;
    font-weight: bold;
}
td{
    text-align: center;
    font-style: italic;
}


                            /* LINKS */
a:link {
    color: red;
}
a:hover {
    color: yellow;
}
a:visited{
    color: green;

}