.map-container{
    width: 100vw;
    height: 100vh;
    border: 1px dashed black;

}




h1 {
    border: 1px dashed lightcoral;
}


#temperature{
    border: 1px dashed darkgrey;
}

#map {
    border: 1px dashed black;
}

.current-weather{
    border:  1px solid red;
}

#location {
    border: 1px dashed black;
}

#feels-like {
    border: 1px dashed black;
}

#sky-condition {
    border:  1px dashed black;
}

#max-temp {
    border:  1px dashed black;
}

#min-temp {
    border:  1px dashed black;
}

