
h1 {
    border: 1px solid red;
}


.current-weather{
    border:  1px solid red;
}

#map {
    border: 1px dashed black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;

}


#temperature{
    border: 1px dashed darkgrey;
}



#location {
    border: 1px dashed black;
}

#feels-like {
    border: 1px dashed black;
}

#sky-condition {
    border:  1px dashed black;
}

#max-temp {
    border:  1px dashed black;
}

#min-temp {
    border:  1px dashed black;
}

